<div class="modal fade" id="admin_object_delete_modal" name="admin_object_delete_modal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title text-center" id="myModalLabel">Удаление записи</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <p>Вы уверены, что хотите удалить данную запись? Это действие необратимо!</p>
                    <div class="btn-toolbar pull-right">
                        <button class="btn btn-default btn-o" data-dismiss="modal">
                            Отмена
                        </button>
                        <button class="btn btn-danger pull-right" onclick="delete_entry()">
                            Удалить
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
