{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="main-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row bottom-border">
                    <div class="col-md-12 top-padding-15">
                        <span class="pull-left">
                            <h4><a href="{% url 'main' %}">Главная</a> / <a href="{% url 'menu_list' %}">Меню</a> / Просмотр записи</h4>
                        </span>
                    </div>
                </div>
                <div class="box">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{% if entry.photo %}{{ entry.photo.url }}
                                      {% else %}{% static 'img/bar_logo_bw_200.gif' %}
                                      {% endif %}" height="200" width="200" alt="{{ entry.name }}"/>
                        </div>
                        <div class="col-md-9">
                            {% if request.user.is_superuser %}
                                {% include 'inc-menu_delete_modal.html' %}
                                <span class="pull-right">
                                    <a data-toggle="modal" data-target="#menu_delete_modal" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Удалить
                                    </a>
                                </span>
                            {% endif %}
                            <p>{{ entry.name }}</p>
                            <p><i>Цена:</i> <b>{{ entry.price }}</b></p>
                            <p><i>В наличии:</i> <b>{{ entry.volume }}{% if entry.recipe_type %} л{% endif %}</b></p>
                            {% if entry.ingredients %}
                                <p><i>Состав:</i> <b>{{ entry.ingredients }}</b></p>
                            {% endif %}
                            {% if entry.description %}
                                <p><i>Описание:</i> <b>{{ entry.description }}</b></p>
                            {% endif %}
                            {% if not request.user.is_anonymous %}
                                <form method="post" action="{% url 'add_favourite_recipe' entry.id %}">
                                    {% csrf_token %}
                                    {% if not favourite %}
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fa fa-star"></i> Добавить в "Любимые"
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-star"></i> Убрать из "Любимых"
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}